
*{
  margin: 0;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

.entete{
  display: flex;
  justify-content: space-around;
  background-color: #ecf0f1;
  width: 100%;
  position: fixed;
  /*border-bottom: 2px solid black;*/
z-index:1000;
}
.simplonnn{
  color: #e74c3c;
  margin-top: 15px;
  margin-left: 0px;
}
.imagentete{
margin-top: 10px;
margin-bottom: 7px;
}
.entete a {
  color :  Black;
}
.textentete{
  display: flex;
  margin-top: 23px;
}

.textentete a {
  margin: 0px  20px;
}
#lienmagic{
  display: flex;
  justify-content: flex-end;
  background-color: #bdc3c7;
  width: 150px;
  height: 60px;
  margin-top: -58px;
  visibility: hidden;
  padding-right: 10px;
  margin-left: -5px;
  border-radius: 5%;
}
.magic{
padding-top: 19px;
}
.houaaaaaclefootercoufffff{
background-color:#95a5a6;
display: flex;
justify-content: center;
}

/*fin header*/


.invisible {
  width: 100%;
  overflow: hidden;
  height: 450px
}

.accroche{
position:absolute;
background-color: rgba(255,255,255, 0.8);
color:black;
height: 100px;
width:500px;
top:220px;
left:200px;
padding:10px;
z-index:0;
}

.accroche h2{
  font-weight: bold;
  font-family: "Lato";
  font-size:35px;
  padding:10px;
  margin:0px;
  text-align: left;
  z-index:0;
}
/*fin bandeau*/




.texte {
  width: 70%;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.temoignages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  margin: 0px 150px;
}

.T1, .T2, .T3, .T4, .T5 {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 200px;
  margin: 0px;
  padding: 0px;
  border-radius: 30px;
  color: rgb(0, 0, 0, 0);
  transition: 1s ease-in-out;
}

.T1:hover, .T2:hover, .T3:hover, .T4:hover, .T5:hover {
  color: black;
  border: 1px solid black;
  padding: 0px;
}

.T1, .T3, .T5 {
  justify-content: flex-end;
  align-items: center;
}

.T2, .T4 {
  justify-content: flex-start;
  align-items: center;
}

.temoignages img {
  box-sizing: border-box;
  width: 100px;
  height: auto;
  /*max-width: 100%;*/
  border-radius: 50%;
  padding: 10px;
}

.temoignages div p {
  text-align: center;
  font-size: 12px;
}

.text-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 250px;
  margin: 10px;
}
