
*{
  margin: 0;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

h2 {
  color: #e60000;
}

.entete{
  
  background-color: white;
  width: 100%;
  position: fixed;
  z-index:1000;
}

#logo {
  height: 60px;
}

.simplonnn{
  color: #e60000;
  margin-top: 15px;
  margin-left: 10px;
}

.imagentete{
  float: left;
  margin-top: 10px;
  margin-bottom: 7px;
  display: flex;
  margin-left: 30px;
}

.entete a {
  color: Black;
}

.textentete{
  float: right;
  display: flex;
  margin-top: 23px;
}

.textentete a {
  margin: 0px  20px;
}


/*fin header*/


.invisible {
  width: 100%;
  overflow: hidden;
  height: 450px
}

.accroche{
position:absolute;
background-color: rgba(255,255,255, 0.8);
color:black;
height: 100px;
width:500px;
top:220px;
left:200px;
padding:10px;
z-index:0;
}

.accroche h2{
  font-weight: bold;
  font-family: "Lato";
  font-size:35px;
  padding:10px;
  margin:0px;
  text-align: left;
  z-index:0;
}
/*fin bandeau*/




.texte {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: #86aade;
  border-radius: 10px;
  padding:20px;
  text-align: center;
  font-size: 18px;
}


h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.tem{
  margin-bottom:25px;
}
.temoignages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  margin: 0px 150px;
  margin-bottom: 50px;
  height: 300px;
}

.T1, .T2, .T3, .T4, .T5 {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  flex: 1;
  margin: 0px;
  padding: 0px;
  border-radius: 30px;
  transition: 1s ease-in-out;
}

.T1, .T3, .T5 {
  justify-content: flex-end;
  align-items: center;
}

.T2, .T4 {
  justify-content: flex-start;
  align-items: center;
}

.temoignages img {
  box-sizing: border-box;
  width: 180px;
  border-radius: 50%;
  padding: 10px;
}

.temoignages div p {
  text-align: center;
  font-size: 1em;
}

.text-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
  visibility: hidden;
  color: #fff;
}

/*------------------------------
début section simplon-quoi
-------------------------------*/
.clear {
  clear: both;
}

.simplon-quoi {
/*  margin-top: 50px; */
  text-align: center;
}

.quiNousSommesParagraphe {
display:flex;
flex-direction: column;
justify-content: space-around;
margin-left: 280px;
margin-right:280px;
padding:20px;
margin-bottom: 30px;
background-color:#ff471a;
border-radius: 10px;
color:white;
}

.simplon-quoi p {
  margin-bottom: 15px;
  font-size: 18px;
}

.simplon-quoi h2{
  color: #e60000;
  margin-bottom:15px;
}

.simplon-quoi button {
  background-color: #e60000;
  padding:15px;
  border-radius: 15px;
  border:2px solid #e60000;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}

.simplon-quoi button:hover {
  border:2px solid #e60000;
  background-color: #fff;
  color: #e60000;
  font-weight: bold;
}

.simplon-quoi .display {
  display: flex;
}

.placeBoutton{
  margin-left:300px;
  margin-right:300px;
  margin-bottom: 15px;
}

.chiffresOk{
  weight:100%;
  margin-top: 35px;
}

.simplon-quoi .display .miniBlock {
  flex: 1;
  color: #fff;
  font-size: bold;

}

.blockQuelquesChiffres{
  margin-top:-5px;

}
.simplon-quoi .blockQuelquesChiffres p {
  margin: auto;
}

.simplon-quoi .i {
  font-size: 1.2em;
}

.simplon-quoi .blockQuelquesChiffres span {
  font-size: 2em;
}


.simplon-quoi .blockQuelquesChiffres .miniBlock1 {
  background-color: #e60000;
  height: 130px;
  display: flex;
}

.simplon-quoi .blockQuelquesChiffres .miniBlock2 {
  background-color: #ff471a;
  height: 130px;
  display: flex;
}

.simplon-quoi .blockQuelquesChiffres .miniBlock3 {
  background-color: #e60000;
  height: 130px;
  display: flex;
}

/* partie onClick */

.simplon-quoi {
  position: relative;
  overflow: hidden;
}

.simplon-quoi .onClickLeft {
  background-color: rgba(255,255,255, 0.8);
  position: absolute;
  margin-left: -50vw;
  width: 50vw;
  height: 100%;
  transition-duration: 0.2s;
}

.simplon-quoi .onClickLeft .crossLeft {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  width: 15px;
  height: 15px;
}

.simplon-quoi .onClickLeft_open {
  margin-left: 0;
  transition-duration: 0.2s;
}



.simplon-quoi .onClickRight {
background-color: rgba(255,255,255, 0.9);
  position: absolute;
  margin-left: 100vw;
  width: 50vw;
  height: 100%;
  transition-duration: 0.2s;
}

.simplon-quoi .onClickRight .crossRight {
  float: left;
  margin-top: 15px;
  margin-left: 15px;
  width: 15px;
  height: 15px;
}

.simplon-quoi .onClickRight_open {
  margin-left: 50vw;
  transition-duration: 0.2s;
}

.test {
  margin-top:0px;
  color:black;
  font-family: "Lato";
}

.test p{
  padding-left: 20px;
  padding-right: 20px;

}
.color{
  background-color: rgb(134,170,222);
  padding: 10px;
}

.minus{
  font-size: 14px;
  padding-top: 10px;
}

.display1 {
  height: 100%;
  padding: 15px;

}

/* carte */

.carte{
  background-image: url('Assets/carte1.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  height: 400px;
  width: 400px;
  position: relative;
  margin-top:-30px;
}

.fabrique{
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
}

#Paris{
  top: 90px;
  left:210px;
  z-index:3;
}

#Est{
  left:330px;
  top: 100px;
  z-index:0;
}

#Nord-Est{
  left:260px;
  top:60px;
  z-index:0;
}

#Occitanie{
  top:320px;
  left:200px;
  z-index:3;
}

#Auvergne{
  top:240px;
  left:270px;
}

#paca{
  top:330px;
  left:330px;
}

#aquitaine{
  top:240px;
  left:130px;
}

#bretagne{
  top:130px;
  left:50px;
}

/*------------------------------
fin section simplon-quoi
-------------------------------*/

/*------------------------------
fin section contact
-------------------------------*/
.containerForm {
  display: flex;
  width: 100vw;
}

.form {
  margin: auto;
}

.input {
  width: 300px;
}

/*------------------------------
fin section contact
-------------------------------*/


/* FOOOTER*/
h3 {
  margin-top: 15px;
  margin-left: 5px;
}

.pieddepage{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
}
.pieddepage h2 {
  padding-top: 10px;
  padding-left: 50px;
  color: #dcdde1;
}
.pieddepage2{
  padding-top: 30px;
  text-align: center;
}
.pieddepage3{
  padding-top: 40px;
  text-align: center;
  display: flex;
  justify-content:center;
  padding-left: 30px;
}
.pieddepage3 h3{
  padding-right: 30px;
  color: #b71540;
}
.pieddepage3 a{
    color: #b71540;
}
.pieddepage4{
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
}
.pieddepage4 img{
  padding-right: 40px;

}
